:root {
    --draw-color: #8b00ff;
    --left-color: #1f8fff;
    --right-color: #c2847;
}

.battles-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 40px;
    box-sizing: border-box;
}

.battle-card {
    background: var(--white-bg);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px var(--card-shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    outline: 3px solid var(--outline-color);
}

    .battle-card[data-result="unfinished"] {
        border-color: #ffa500; /* Оранжевый цвет для незаконченного */
    }

    .battle-card[data-result="leftwin"] {
        border-color: var(--left-color); /* Зелёный цвет для победы левого */
    }
        /* Отмечаем победителя */
        .battle-card[data-result="leftwin"] .participant.left {
            outline: 4px solid var(--left-color);
            box-shadow: 0 0 15px rgba(var(--left-color), 0.6);
        }

    .battle-card[data-result="rightwin"] {
        border-color: var(--right-color); /* Красный цвет для победы правого */
    }

        .battle-card[data-result="rightwin"] .participant.right {
            outline: 4px solid var(--right-color);
            box-shadow: 0 0 15px rgba(var(--right-color), 0.6);
        }

    .battle-card[data-result="draw"] {
        border-color: var(--draw-color);
    }

        .battle-card[data-result="draw"] .participant {
            outline: 4px solid var(--draw-color);
            box-shadow: 0 0 15px rgba(var(--draw-color), 0.6);
        }

.battle-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.participant {
    text-align: center;
    flex: 1;
}

    .participant .avatarBattle {
        margin: 0 auto 10px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 4px 6px var(--card-shadow);
        border: 3px solid var(--outline-color);
    }

        .participant .avatarBattle img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

.vs {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
    margin: 0 15px;
    white-space: nowrap;
}

.battleVideo {
    aspect-ratio: 16 / 9;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--card-shadow);
    border: 2px solid var(--outline-color);
}
