
@{
    ViewData["Title"] = "Баттлы";
}
@model (IReadOnlyDictionary<Guid, BattleModel>, IReadOnlyDictionary<Guid, BattleModel>)

<h1>Активные</h1>

<partial name="_BattleGroupPartial" model="@(Model.Item1)" />

<h1>Последние</h1>

<partial name="_BattleGroupPartial" model="@(Model.Item2)" />

<script></script>

<script src="/js/clickBattlesVideo.js"></script>
<script src="/js/battlesLocalTime.js"></script>
