@using TestPens.Models.Simple
@{
    ViewData["Title"] = "Баттлы";
}
@model (IReadOnlyDictionary<Guid, BattleModel>, IReadOnlyDictionary<Guid, BattleModel>)

<h1>Активные</h1>

<partial name="_BattleGroupPartial" model="@((Model.Item1, true))" />

<h1>Последние</h1>

<partial name="_BattleGroupPartial" model="@((Model.Item2, true))" />

<script></script>

<script src="/js/clickBattlesVideo.js"></script>
