.content-layout {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.table-of-contents {
    flex: 0 0 250px;
    background-color: var(--white-bg);
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--card-shadow);
    padding: 20px;
    position: sticky;
    top: 20px;
    height: fit-content;
}

    .table-of-contents h2 {
        margin-top: 0px;
        font-size: 20px;
        margin-bottom: 10px;
        color: var(--primary-color);
    }

    .table-of-contents ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

.toc-item {
    margin-bottom: 10px;
    font-size: 14px;
}

    .toc-item a {
        font-size: 16px;
        color: var(--link-color);
        text-decoration: none;
        transition: color 0.3s ease;
    }

        .toc-item a:hover {
            color: var(--link-hover-color);
        }

    .toc-item.level-2 {
        margin-left: 10px;
    }

    .toc-item.level-3 {
        margin-left: 20px;
    }

/* Основной контент */
.markdown-content {
    flex: 1;
    line-height: 1.8;
    color: var(--text-color);
}
