@{
    ViewBag.Title = "Админ панель";
}

<div>
    <label for="passwordInput" style="font-weight: bold; color: var(--text-color); margin-bottom: 10px; display: block;">
        Введите секретное слово:
    </label>
    <input type="password"
           id="passwordInput"
           class="input-field"
           placeholder="Ввод" />
    <button id="submitButton">Проверить</button>
    <button id="saveChanges" class="save-button">Сохранить</button>
</div>

<script src="/js/adminPanelBase.js"></script>

<div id="resultContainer"></div>
