<div class="modal" id="mainModal">
    <div class="modal-content">
        <div class="modal-left">
            <div class="modal-avatar">
                <img src="" alt="" />
            </div>
            <div class="modal-info">
                <p>Никнейм: Иван</p>
                <p>В дропе: 25</p>
                <button id="submitButton">Открыть видео</button>
            </div>
        </div>
        <div class="modal-right">
            <p>
                Это глобальный большой текст, который занимает правую часть модального окна.
                Здесь можно разместить описание, длинные данные или другую информацию.
            </p>
        </div>
    </div>
</div>